@import url(./font.css);
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

/* ========================================== header ========================================== */
.header{position: fixed; top: 0; width: 100%; height: 80px; border-bottom: 2px solid #fff; z-index: 99; background: rgba(100, 100, 100, 0.4); transition: top 0.4s cubic-bezier(.165,.84,.44,1); backdrop-filter: blur(3px) saturate(80%);}
.header.hide{top: -110px;}
.header .header_inner{width: 100%; height: 100%; padding: 0 30px;}
.header_wrap{width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-between; color: #fff; text-transform: uppercase;}
.header_wrap .logo_area{font-family: 'SUIT-Regular'; display: flex; justify-content: center; height: 80%; font-size: 18px; font-weight: bold; line-height: 1; flex-direction: column;}
.header_wrap .logo_area span.logo_bottom{display: block; font-weight: 300;}
.header_wrap .nav{font-family: 'Sulphur Point', sans-serif; height: 80%;}
.header_wrap .nav ul{height: 100%; display: flex; align-items: center; justify-content: center; font-size: 26px; font-weight: bold; line-height: 1;}
.header_wrap .nav ul li{padding: 0 12px; text-align: center; cursor: pointer;}

/* ========================================== main ========================================== */
.main{position: relative; width: 100%; height: 200vh; min-height: 1200px; background-color: #012340; z-index: 2;}
/* 메인 사진 영역 */
.main .first_main_wrap{position: relative; width: 100%; height: 50%; z-index: 2; opacity: 0; transition: opacity .7s cubic-bezier(.165,.84,.44,1);}
.main .first_main_wrap.active{opacity: 1;}
.main .first_main_wrap .main_background{position: relative; width: 100%; height: 100%; overflow: hidden;}
.main_background .main_back_img{position: absolute; overflow: hidden; border-radius: 5px; transition: transform var(--duration) cubic-bezier(.165,.84,.44,1);}
.main_background .back_img1{top: 21%; left: 8%; width: 9%; --duration: 1350ms;}
.main_background .back_img1 .back_img_area{background: url(../img/background_img1.jpg) center; background-size: 120%; filter: contrast(1);}
.main_background .back_img1 .back_img_area::before{content: ''; display: block; width: 100%; padding-top: 66.66%;}
.main_background .back_img2{top: 14%; left: 61%; width: 15%; --duration: 550ms;}
.main_background .back_img2 .back_img_area{background: url(../img/background_img2.jpg) center; background-size: cover; filter: contrast(0.7);}
.main_background .back_img2 .back_img_area::before{content: ''; display: block; width: 100%; padding-top: 70%;}
.main_background .back_img3{top: 50.8%; left: 83%; width: 11.5%; --duration: 1160ms;}
.main_background .back_img3 .back_img_area{background: url(../img/background_img3.jpg) center; background-size: cover; filter: contrast(0.7);}
.main_background .back_img3 .back_img_area::before{content: ''; display: block; width: 100%; padding-top: 150%;}
.main_background .back_img4{top: 60%; left: 18%; width: 20%; --duration: 900ms;}
.main_background .back_img4 .back_img_area{background: url(../img/background_img5.jpg) center; background-size: cover; filter: contrast(0.7);}
.main_background .back_img4 .back_img_area::before{content: ''; display: block; width: 100%; padding-top: 66%;}
/* 메인 text 영역 */
.main .first_main_wrap .main_foreground{position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
.main .first_main_wrap .main_foreground .text_wrap h1{font-family: 'SUIT-Regular'; color: #fff; font-size: 120px; text-align: center; font-weight: 900; letter-spacing: -0.2rem; line-height: 1em; text-transform: uppercase; max-width: 8em;}
.main .first_main_wrap .main_foreground .text_wrap h1 span{display: inline-block; transform: rotateX(75deg) rotateY(10deg) rotateZ(-9deg); transform-origin: top; opacity: 0; transition: opacity .7s cubic-bezier(.165,.84,.44,1) var(--reveal-delay),transform .7s cubic-bezier(.165,.84,.44,1) var(--reveal-delay);}
.main .first_main_wrap .main_foreground .text_wrap h1 span.active{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); opacity: 1;}
.main .first_main_wrap .main_foreground .text_wrap h1 span img{height: 100%; display: none;}
.main .first_main_wrap .main_foreground .text_wrap h1 span img.active{display: block;}

/* 두번째 영역 */
.main .second_main_wrap{position: absolute; top: 0; width: 100%; height: 100%; background-color: #81aeb3; z-index: 1; transition: opacity 300ms cubic-bezier(.215,.61,.355,1); opacity: 0;}
.main .second_main_wrap .second_background{width: 100%; height: 50%; position: sticky; top: 0; overflow: hidden; background: url(../img/second_background.jpg) center; background-size: cover;}
.main .second_main_wrap .introduce_text_wrap{position: absolute; bottom: 0; width: 100%; height: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.main .second_main_wrap .introduce_text_wrap h3{font-family: 'yg-jalnan'; font-size: 96px; /*color: #fad66c;*/ color: #fff; text-shadow: 0.05em 0.05em #274b6a; line-height: 1.2;}
.main .second_main_wrap .introduce_text_wrap h3 span{position: relative; display: block;}
.main .second_main_wrap .introduce_text_wrap h3 span::after{content: attr(data-shadow); position: absolute; top: 0.11em; left: 0.11em; width: 100%; z-index: -1; text-shadow: none; background: linear-gradient(45deg, transparent 45%, #ffc800 45%, #fff 55%, transparent 0); background-size: 0.07em 0.07em; -webkit-background-clip: text; -webkit-text-fill-color: transparent; animation: shad-anim 25s linear infinite;}
@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
}

/* 스크롤 다운 버튼 */
.main_scroll_wrap{position: fixed; bottom: 40px; width: 100%; display: flex; justify-content: center; opacity: 1; transition: opacity .4s cubic-bezier(.215,.61,.355,1); z-index: 3; margin-top: 100px;}
.main_scroll_wrap.scrolled{opacity: 0;}
.main_scroll_wrap .main_scroll_indicator{}
.main_scroll_wrap .main_scroll_indicator button{display: flex; flex-direction: row; align-items: center; background: 0 0; color: #fff;}
.main_scroll_wrap .main_scroll_indicator button span{text-transform: uppercase; font-weight: 900; font-size: 16px;}
.main_scroll_wrap .main_scroll_indicator button span:last-child{margin-left: 16px; font-size: 22px; font-weight: 900; transform: rotate(90deg); animation: bounce 1.2s infinite alternate;}

@keyframes bounce {
  0% {
      -webkit-transform: rotate(90deg) translate3d(-8px,0,0);
      transform: rotate(90deg) translate3d(-8px,0,0)
  }

  to {
      -webkit-transform: rotate(90deg) translate3d(8px,0,0);
      transform: rotate(90deg) translate3d(8px,0,0)
  }
}

/* menu 영역 */
.port_wrap{position: sticky; bottom: 0; z-index: 200; height: 100vh; z-index: 1; background-color: var(--backgroundColor); transition: background-color 300ms cubic-bezier(.645,.045,.355,1); will-change: background-color; --backgroundColor:#f1f1f1;}
.port_wrap .menu_list{position: relative; display: flex; width: 100%; height: 100%; flex-direction: column; justify-content: center; align-items: center; color: var(--fontColor); transition: color 300ms cubic-bezier(.694,0,.335,1);}
.port_wrap .menu_list .menu_header{padding-bottom: 20px;}
.port_wrap .menu_list .menu_header .menu_header_title{font-size: 120px; font-family: 'Fraunces', serif; font-weight: 400; margin-left: -1em;}
.port_wrap .menu_list .menu_item{position: relative; line-height: 0.82em; text-transform: uppercase; font-size: 112px; letter-spacing: -0.06em; font-weight: 600;}
.port_wrap .menu_list .menu_item:nth-child(2){margin-left: -2.6em;}
.port_wrap .menu_list .menu_item:nth-child(3){margin-left: -1.0;}
.port_wrap .menu_list .menu_item:nth-child(4){margin-left: 0em;}
.port_wrap .menu_list .menu_item .menu_item_txt{font-family: 'SUIT-Regular'; transition: opacity .35s cubic-bezier(.645,.045,.355,1); cursor: pointer;}
.port_wrap .menu_list .menu_item .menu_item_txt .menu_item_number{font-size: 16px; vertical-align: top; line-height: 1; font-weight: 600; letter-spacing: 0;}
.port_wrap .menu_list .menu_item .menu_item_txt .menu_item_title{margin-left: -0.1em; padding: 10px 0; margin-top: -10px; margin-bottom: 30px; position: relative; display: inline-block; background-repeat: no-repeat; transition: background-position .5s cubic-bezier(.694,0,.335,1); background-image: linear-gradient(#000, #000),linear-gradient(#000, #000); background-size: 51% 6px, 50% 6px; background-position: -200% 100%, -100% 100%; overflow: hidden;}
/* .menu_wrap .menu_list .menu_item:nth-child(2) .menu_item_txt .menu_item_title{background-image: linear-gradient(#012340, #012340),linear-gradient(#012340, #012340);} */
/* .menu_wrap .menu_list .menu_item:nth-child(2) .menu_item_txt .menu_item_title{background-image: linear-gradient(#fff, #fff),linear-gradient(#fff, #fff);}
.menu_wrap .menu_list .menu_item:nth-child(3) .menu_item_txt .menu_item_title{background-image: linear-gradient(#000, #000),linear-gradient(#000, #000);}
.menu_wrap .menu_list .menu_item:nth-child(4) .menu_item_txt .menu_item_title{background-image: linear-gradient(#000, #000),linear-gradient(#000, #000);} */
.port_wrap .menu_list .menu_item .menu_item_txt .menu_item_title::after{content: "↓"; display: inline-block; padding-left: 0.02em; transform: translateY(-120%); transition: transform .35s cubic-bezier(.645,.045,.355,1); font-family: 'InfinitySans-RegularA1';}
.port_wrap .menu_list .menu_image{position: absolute; top: 0; left: 50%; display: flex; align-items: center; justify-content: center; width: 22vw; height: 22vw; max-width: 320px; max-height: 320px;}
.port_wrap .menu_list .menu_image .menu_image_mask{width: 100%; height: 100%; overflow: hidden;}
.port_wrap .menu_list .menu_image .menu_image_mask img{position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; transform: rotateY(240); opacity: 0; transition: all .5s cubic-bezier(.645,.045,.355,1);}
.port_wrap .menu_list .menu_image .menu_image_mask img.active:nth-child(1),
.port_wrap .menu_list .menu_image .menu_image_mask img.active:nth-child(2),
.port_wrap .menu_list .menu_image .menu_image_mask img.active:nth-child(3){opacity: 1; transform: rotateY(360deg);}
.port_wrap .menu_list .menu_image .image_skew{clip-path: polygon(21% 21%, 90% 14%, 74% 78%, 10% 83%); animation: flippingShapes 10s linear infinite;}

/* hover 미디어 쿼리 */
@media (hover: hover) {
  .port_wrap .menu_list .menu_item:hover .menu_item_txt .menu_item_title{background-position:0 100%,100% 100%;}
  .port_wrap .menu_list .menu_item:hover .menu_item_txt .menu_item_title::after{transform: translateY(0);}
}

@keyframes flippingShapes {
  from {
    clip-path: polygon(21% 21%, 90% 14%, 74% 78%, 10% 83%);
  }
  25%{
    clip-path: polygon(30% 13%, 91% 20%, 76% 82%, 20% 64%);
  }
  50%{
    clip-path: polygon(18% 8%, 73% 28%, 81% 87%, 24% 64%);
  }
  75%{
    clip-path: polygon(34% 13%, 91% 20%, 76% 82%, 12% 71%);
  }
  to{
    clip-path: polygon(21% 21%, 90% 14%, 74% 78%, 10% 83%);
  }
}


/* about 영역 */
.about_wrap{padding: 140px 0; background-color: #f1f1f1; transition: background-color 300ms cubic-bezier(.645,.045,.355,1);}
.heading_wrap{position: relative; display: flex; flex-direction: column; align-items: center;}
.heading_wrap > span{font-family: 'InfinitySans-RegularA1'; opacity: 0; transform: translateY(1.5vh); font-size: 16px; font-weight: 600; letter-spacing: 0.1em; margin-bottom: 15px; line-height: 1.2em; transition: transform .6s cubic-bezier(.645,.045,.355,1),opacity .3s cubic-bezier(.645,.045,.355,1); transition-delay: 100ms;}
.heading_wrap > span.active{transform: translateY(0); opacity: 1;}
.heading_wrap .cont_title{text-align: center; z-index: 1;}
.heading_wrap .cont_title span{line-height: 0.9em; font-family: 'Fraunces', serif; display: block; font-weight: 400; font-size: 140px; transform: rotateX(75deg) rotateY(10deg) rotateZ(-9deg); opacity: 0; transition: opacity .7s cubic-bezier(.165,.84,.44,1) var(--reveal-delay),transform .7s cubic-bezier(.165,.84,.44,1) var(--reveal-delay); --reveal-delay: 100ms;}
.heading_wrap .cont_title span:last-child{font-family: 'InfinitySans-RegularA1'; text-transform: uppercase; font-weight: bold; font-size: 160px;}
.heading_wrap .cont_title.active span{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); opacity: 1;}
.heading_wrap .cont_img_wrap{display: flex; width: 100%; justify-content: center; margin-top: -100px; transition: opacity 300ms cubic-bezier(.645,.045,.355,1);}
.heading_wrap .cont_img_wrap .image_mask{width: 600px; height: 700px;}
.heading_wrap .cont_img_wrap .image_mask .image_skew{width: 100%; height: 100%; overflow: hidden; background: url(../img/background_img4.jpg) no-repeat center; background-size: cover; animation: flippingShapes 10s linear infinite;}
.heading_wrap .cont_img_wrap .image_mask .image_skew img{width: 100%; height: 100%; object-fit: cover;}
.about_wrap .cont_text{display: flex; justify-content: space-between; max-width: 1200px; margin: 0 auto; margin-top: -100px; word-break: keep-all;}
.about_wrap .cont_text .introduce_area{flex: 0 48%; line-height: 1.5; font-weight: 600;}

/* work 영역 */
.work_wrap{padding: 140px 0; background-color: #bcdace; transition: background-color 300ms cubic-bezier(.645,.045,.355,1); overflow: hidden;}
.work_slide_wrap{margin-top: 200px; max-width: 1000px; margin: 120px auto 0; overflow: hidden; display: block;}
.flipster_cont {width: 100%; height: 340px; overflow: hidden;}
.flipster_cont ul li {position: relative; height: 100%; cursor: pointer;}
.flipster_cont ul li img {height: 340px; width: auto; object-fit: cover; image-rendering: -webkit-optimize-contrast;}
.flipster_cont ul li .hover_box{position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.56); transition: all 0.4s; opacity: 0; color: #fff;}
.flipster_cont ul li .hover_box:hover{opacity: 1;}
.flipster_cont ul li .hover_box .hover_text{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.flipster_cont ul li .hover_box .hover_text p{text-transform: uppercase; font-weight: bold;}


/* popup */
.popup{position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: auto; background: #fff; z-index: 999; overflow-x: hidden; overflow-y: auto; transition: opacity 0.15s linear; display: none;}
.popup.on{display: block;}
.popup .popup_header{display: block; padding: 20px; text-align: right;}
.popup .popup_header .close_btn{background: none; width: 36px; height: 36px; cursor: pointer;}
.popup .popup_cont{width: 60%; margin: 0 auto;}
.popup .popup_cont h1{margin-bottom: 40px;}
.popup .popup_cont h3{font-size: 24px; margin-bottom: 20px;}
.popup .popup_cont .cont{margin: 40px 0;}
.popup .popup_cont .cont h4{color: #1f6f30; font-weight: bold; font-size: 20px; margin-bottom: 10px; text-transform: uppercase;}
.popup .popup_cont .cont em{font-style: normal; font-size: 15px;}
.popup .popup_cont .cont.link a:hover{text-decoration: underline;}
.popup .popup_cont .cont img{width: 100%;}


/* .work_slide_wrap{width: 100%;}
.work_slide_wrap .swiper_cont{width: 100%;}
.work_slide_wrap .swiper_cont .swiper-wrapper{width: 100%;}
.work_slide_wrap .swiper_cont .swiper-wrapper .swiper-slide{transition: all 0.3s; width: 340px; height: 320px;}
.work_slide_wrap .swiper_cont .swiper-slide{perspective: 200px;}
.work_slide_wrap .swiper_cont .swiper-slide img{width: 100%; height: 100%; object-fit: cover; image-rendering: -webkit-optimize-contrast; transition: all 0.3s ease;}
.work_slide_wrap .swiper_cont .swiper-slide-active,
.work_slide_wrap .swiper_cont .swiper-slide-duplicate-active{}
.work_slide_wrap .swiper_cont .swiper-slide img{transform: translateX(0) translateY(10%) rotateX(10deg) rotate(0);}
.work_slide_wrap .swiper_cont .swiper-slide-active img,
.work_slide_wrap .swiper_cont .swiper-slide-duplicate-active img{transform: translateX(0) translateY(-70%) rotateX(-3deg);}
.work_slide_wrap .swiper_cont .swiper-slide-prev img,
.work_slide_wrap .swiper_cont .swiper-slide-duplicate-prev img{transform: translateX(-2%) translateY(-35%) rotateX(-3deg) rotate(-6deg);}
.work_slide_wrap .swiper_cont .swiper-slide-next img,
.work_slide_wrap .swiper_cont .swiper-slide-duplicate-next img{transform: translateX(2%) translateY(-35%) rotateX(-3deg) rotate(6deg);} */